.clearer {
    clear: both !important;
}

.rst-content code.literal {
    color: #404040 !important;
}

.rst-content dl:not(.docutils) .property {
    display: inline !important;
    padding-right: 0 !important;
}
