{
  "NAME": "kRPC",
  "URL": "https://raw.githubusercontent.com/djungelorm/krpc/latest-version/.version",
  "DOWNLOAD": "https://github.com/djungelorm/krpc/releases/download/v%VERSION%/krpc-%VERSION%.zip",
  "VERSION": "%VERSION%",
  "KSP_VERSION": {
    "MAJOR": 0,
    "MINOR": 24,
    "PATCH": 2
  }
}
