.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.highlight }}

Docking Camera API
==================

.. toctree::
   :includehidden:
   :maxdepth: 2

   docking-camera/docking-camera
   docking-camera/camera