.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.highlight }}

Drawing API
===========

.. toctree::
   :includehidden:
   :maxdepth: 1

   drawing/drawing
   drawing/line
   drawing/polygon
   drawing/text
