.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.name }}

Drawing API
===========

.. toctree::
   :includehidden:
   :maxdepth: 2

   drawing/drawing
   drawing/line
   drawing/polygon
   drawing/text
