.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.name }}

InfernalRobotics API
====================

Provides RPCs to interact with the `InfernalRobotics`_ mod. Provides the
following classes:

.. toctree::
   :includehidden:
   :maxdepth: 2

   infernal-robotics/infernal-robotics
   infernal-robotics/control-group
   infernal-robotics/servo

Example
-------

The following example gets the control group named "MyGroup", prints out the
names and positions of all of the servos in the group, then moves all of the
servos to the right for 1 second.

.. literalinclude:: /scripts/InfernalRobotics.{{ domain.codeext }}

.. _InfernalRobotics: http://forum.kerbalspaceprogram.com/threads/116064
