.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.name }}

Kerbal Alarm Clock API
======================

Provides RPCs to interact with the `Kerbal Alarm Clock`_ mod. Provides the
following classes:

.. toctree::
   :includehidden:
   :maxdepth: 2

   kerbal-alarm-clock/kerbal-alarm-clock
   kerbal-alarm-clock/alarm
   kerbal-alarm-clock/alarm-type
   kerbal-alarm-clock/alarm-action

Example
-------

The following example creates a new alarm for the active vessel. The alarm is
set to trigger after 10 seconds have passed, and display a message.

.. literalinclude:: /scripts/KerbalAlarmClockExample.{{ domain.codeext }}

.. _Kerbal Alarm Clock: http://forum.kerbalspaceprogram.com/index.php?/topic/22809-10x-kerbal-alarm-clock-v3500-dec-3/
