.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.highlight }}

LiDAR API
=========

Provides RPCs to interact with the `LaserDist <https://github.com/nullprofile/LaserDist>`_ mod.

.. toctree::
   :includehidden:
   :maxdepth: 1

   lidar/lidar
   lidar/laser
