.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.highlight }}

RemoteTech API
==============

Provides RPCs to interact with the `RemoteTech`_ mod. Provides the following classes:

.. toctree::
   :includehidden:
   :maxdepth: 2

   remote-tech/remote-tech
   remote-tech/comms
   remote-tech/antenna

Example
-------

The following example sets the target of a dish on the active vessel then prints
out the signal delay to the active vessel.

.. literalinclude:: /scripts/services/RemoteTechExample.{{ domain.codeext }}

.. _RemoteTech: https://forum.kerbalspaceprogram.com/index.php?/topic/139167-13-remotetech-v188-2017-09-03/
