.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.name }}

SpaceCenter API
===============

.. toctree::
   :includehidden:
   :maxdepth: 2

   space-center/space-center
   space-center/vessel
   space-center/celestial-body
   space-center/flight
   space-center/orbit
   space-center/control
   space-center/comms
   space-center/parts
   space-center/resources
   space-center/node
   space-center/reference-frame
   space-center/auto-pilot
   space-center/camera
   space-center/waypoints
   space-center/contracts
   space-center/geometry-types
