using System.Reflection;
using System.Runtime.CompilerServices;
[assembly: AssemblyTitle ("KRPC.UI")]
[assembly: AssemblyDescription ("UI service for kRPC")]
[assembly: AssemblyCopyright ("kRPC Org")]
[assembly: AssemblyVersion ("{VERSION}")]
