project = 'kRPC'
version = '%VERSION%'
release = version
copyright = '2015-2017, djungelorm'

master_doc = 'index'
source_suffix = '.rst'
extensions = ['sphinx.ext.mathjax', 'sphinxcontrib.spelling', 'sphinx.ext.todo', 'sphinx.ext.extlinks',
              'redjack.sphinx.lua', 'sphinx_csharp.csharp', 'javasphinx', 'sphinx_tabs.tabs']
templates_path = ['_templates']

pygments_style = 'sphinx'
import sphinx_rtd_theme
html_theme = 'sphinx_rtd_theme'
html_theme_path = [sphinx_rtd_theme.get_html_theme_path()]
htmlhelp_basename = 'krpc-doc'
html_static_path = ['crafts', 'scripts', '_static']

def setup(app):
    app.add_stylesheet('custom.css')

todo_include_todos = True

spelling_word_list_filename = 'dictionary.txt'

javadoc_url_map = {
    'org.javatuples' : ('http://www.javatuples.org/apidocs/', 'javadoc')
}

extlinks = {
    'github-download-zip': ('https://github.com/krpc/krpc/releases/download/v'+version+'/%s-'+version+'.zip', None),
    'github-download-jar': ('https://github.com/krpc/krpc/releases/download/v'+version+'/%s-'+version+'.jar', None)
}

add_module_names = False

nitpick_ignore = [
    ('csharp:type', 'void'),
    ('csharp:type', 'ReturnType'),
    ('csharp:type', 'LambdaExpression'),
    ('csharp:type', 'Type'),
    ('csharp:type', 'KRPC.Schema.KRPC.Request'),
    ('csharp:type', 'KRPC.Schema.KRPC.Services'),
    ('csharp:type', 'KRPC.Schema.KRPC.Status'),

    ('cpp:typeOrConcept', 'int32_t'),
    ('cpp:typeOrConcept', 'uint32_t'),
    ('cpp:typeOrConcept', 'std'),
    ('cpp:typeOrConcept', 'std::string'),
    ('cpp:typeOrConcept', 'std::tuple'),
    ('cpp:typeOrConcept', 'std::vector'),
    ('cpp:typeOrConcept', 'std::map'),
    ('cpp:typeOrConcept', 'std::set'),
    ('cpp:typeOrConcept', 'krpc'),
    ('cpp:typeOrConcept', 'krpc::schema'),
    ('cpp:typeOrConcept', 'krpc::schema::Request'),
    ('cpp:typeOrConcept', 'krpc::schema::Services'),
    ('cpp:typeOrConcept', 'krpc::schema::Status'),
    ('cpp:typeOrConcept', 'krpc::Service'),
    ('cpp:typeOrConcept', 'krpc::services'),

    ('java:type', 'int'),
    ('java:type', 'boolean'),
    ('java:type', 'float'),
    ('java:type', 'long'),
    ('java:type', 'double'),
    ('java:type', 'Single'),
    ('java:type', 'T'),
    ('java:type', 'org'),
    ('java:type', 'java'),
    ('java:type', 'org.javatuples'),
    ('java:type', 'krpc'),
    ('java:type', 'krpc.schema'),
    ('java:type', 'krpc.schema.KRPC'),
    ('java:type', 'krpc.schema.KRPC.Request'),
    ('java:type', 'krpc.schema.KRPC.Services'),
    ('java:type', 'krpc.schema.KRPC.Status'),

    ('lua:obj', 'boolean'),
    ('lua:obj', 'number'),
    ('lua:obj', 'string'),
    ('lua:obj', 'Tuple'),
    ('lua:obj', 'List'),
    ('lua:obj', 'krpc.schema.KRPC.Request'),
    ('lua:class', 'krpc.schema.KRPC.Services'),
    ('lua:class', 'krpc.schema.KRPC.Status'),

    ('py:obj', 'bool'),
    ('py:obj', 'float'),
    ('py:obj', 'int'),
    ('py:obj', 'str'),
    ('py:obj', 'tuple'),
    ('py:obj', 'list'),
    ('py:obj', 'set'),
    ('py:obj', 'dict'),
    ('py:obj', 'krpc.schema.KRPC.Request'),
    ('py:class', 'krpc.schema.KRPC.Services'),
    ('py:class', 'krpc.schema.KRPC.Status')
]
