.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.name }}
{{ domain.currentmodule('RemoteTech') }}
{% import domain.macros as macros with context %}

RemoteTech
==========

{{ macros.service(services['RemoteTech']) }}
