using System.Reflection;
using System.Runtime.CompilerServices;
[assembly: AssemblyTitle ("KRPC.SpaceCenter")]
[assembly: AssemblyDescription ("SpaceCenter service for kRPC")]
[assembly: AssemblyCopyright ("kRPC Org")]
[assembly: AssemblyVersion ("{VERSION}")]
