AC_INIT([krpc], [%VERSION%])
AC_SUBST([LT_RELEASE],[%VERSION%])
AM_INIT_AUTOMAKE
AC_CONFIG_MACRO_DIR(m4)
AC_PROG_CXX
AC_LANG([C++])
AX_CXX_COMPILE_STDCXX_11(noext, mandatory)
AC_PROG_LIBTOOL
PKG_CHECK_MODULES([protobuf], [protobuf >= 3.2])
AC_CHECK_HEADER(asio.hpp, , AC_MSG_ERROR([Couldn't find ASIO headers.]))
AC_OUTPUT(Makefile include/Makefile src/Makefile)
