.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.name }}
{{ domain.currentmodule('UI') }}
{% import domain.macros as macros with context %}

Panel
=====

{{ macros.class(services['UI'].classes['Panel']) }}
