.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.name }}
{{ domain.currentmodule('UI') }}
{% import domain.macros as macros with context %}

Rect Transform
==============

{{ macros.class(services['UI'].classes['RectTransform']) }}
