.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.highlight }}
{{ domain.currentmodule('UI') }}
{% import domain.macros as macros with context %}

Toggle Group
============

{{ macros.class(services['UI'].classes['ToggleGroup']) }}
