.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.highlight }}
{{ domain.currentmodule('KRPC') }}
{% import domain.macros as macros with context %}

Expressions
===========

{{ macros.class(services['KRPC'].classes['Expression']) }}
{{ macros.class(services['KRPC'].classes['Type']) }}
