.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.name }}
{{ domain.currentmodule('KRPC') }}
{% import domain.macros as macros with context %}

KRPC
====

{% append services['KRPC'].members['AddStream'] %}
{% if domain.name == 'lua' %}
.. note:: Streams are not supported by the Lua client.
{% else %}
.. note:: Do not call this method from client code. Use :rst:ref:`streams <{{ domain.name }}-client-streams>` provided by the {{ domain.prettyname }} client library.
{% endif %}
{% endappend %}
{% append services['KRPC'].members['RemoveStream'] %}
{% if domain.name == 'lua' %}
.. note:: Streams are not supported by the Lua client.
{% else %}
.. note:: Do not call this method from client code. Use :rst:ref:`streams <{{ domain.name }}-client-streams>` provided by the {{ domain.prettyname }} client library.
{% endif %}
{% endappend %}
{{ macros.service(services['KRPC']) }}
{{ macros.enumeration(services['KRPC'].enumerations['GameScene']) }}
{{ macros.exception(services['KRPC'].exceptions['InvalidOperationException']) }}
{{ macros.exception(services['KRPC'].exceptions['ArgumentException']) }}
{{ macros.exception(services['KRPC'].exceptions['ArgumentNullException']) }}
{{ macros.exception(services['KRPC'].exceptions['ArgumentOutOfRangeException']) }}
