.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.highlight }}
{{ domain.currentmodule('KRPC') }}
{% import domain.macros as macros with context %}

KRPC
====

{{ mark_documented(services['KRPC'].members['AddStream']) }}
{{ mark_documented(services['KRPC'].members['StartStream']) }}
{{ mark_documented(services['KRPC'].members['RemoveStream']) }}
{{ mark_documented(services['KRPC'].members['SetStreamRate']) }}
{{ mark_documented(services['KRPC'].members['AddEvent']) }}
{{ services['KRPC'].remove('AddStream') }}
{{ services['KRPC'].remove('StartStream') }}
{{ services['KRPC'].remove('RemoveStream') }}
{{ services['KRPC'].remove('SetStreamRate') }}
{{ services['KRPC'].remove('AddEvent') }}

{{ macros.service(services['KRPC']) }}
{{ macros.enumeration(services['KRPC'].enumerations['GameScene']) }}
{{ macros.exception(services['KRPC'].exceptions['InvalidOperationException']) }}
{{ macros.exception(services['KRPC'].exceptions['ArgumentException']) }}
{{ macros.exception(services['KRPC'].exceptions['ArgumentNullException']) }}
{{ macros.exception(services['KRPC'].exceptions['ArgumentOutOfRangeException']) }}
