.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.highlight }}
{{ domain.currentmodule('SpaceCenter') }}
{% import domain.macros as macros with context %}

AltimeterMode
=============

{{ macros.enumeration(services['SpaceCenter'].enumerations['AltimeterMode']) }}
