.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.name }}
{{ domain.currentmodule('SpaceCenter') }}
{% import domain.macros as macros with context %}

CelestialBody
=============

{% append services['SpaceCenter'].classes['CelestialBody'].members['ReferenceFrame'] %}
.. figure:: /images/reference-frames/celestial-body.png
   :align: center

   Celestial body reference frame origin and axes. The equator is shown in
   blue, and the prime meridian in red.
{% endappend %}
{{ macros.class(services['SpaceCenter'].classes['CelestialBody']) }}
