.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.name }}
{{ domain.currentmodule('SpaceCenter') }}
{% import domain.macros as macros with context %}

Control
=======

{{ macros.class(services['SpaceCenter'].classes['Control']) }}
{{ macros.enumeration(services['SpaceCenter'].enumerations['ControlState']) }}
{{ macros.enumeration(services['SpaceCenter'].enumerations['ControlSource']) }}
{{ macros.enumeration(services['SpaceCenter'].enumerations['SASMode']) }}
{{ macros.enumeration(services['SpaceCenter'].enumerations['SpeedMode']) }}
