.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.name }}
{{ domain.currentmodule('SpaceCenter') }}
{% import domain.macros as macros with context %}

Flight
======

{{ macros.class(services['SpaceCenter'].classes['Flight']) }}
