.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.name }}
{{ domain.currentmodule('SpaceCenter') }}
{% import domain.macros as macros with context %}

.. _{{ domain.name }}-api-parts:

Parts
=====

The following classes allow interaction with a vessels individual parts.

.. contents::
   :local:

Parts
-----

{% append services['SpaceCenter'].classes['Parts'].members['Root'] %}
.. note:: See the discussion on :rst:ref:`{{ domain.name }}-api-parts-trees-of-parts`.
{% endappend %}
{% append services['SpaceCenter'].classes['Parts'].members['InStage'] %}
.. note:: See the discussion on :rst:ref:`{{ domain.name }}-api-parts-staging`.
{% endappend %}
{% append services['SpaceCenter'].classes['Parts'].members['InDecoupleStage'] %}
.. note:: See the discussion on :rst:ref:`{{ domain.name }}-api-parts-staging`.
{% endappend %}
{{ macros.class(services['SpaceCenter'].classes['Parts']) }}

Part
----

{% append services['SpaceCenter'].classes['Part'].members['Parent'] %}
.. note:: See the discussion on :rst:ref:`{{ domain.name }}-api-parts-trees-of-parts`.
{% endappend %}
{% append services['SpaceCenter'].classes['Part'].members['Children'] %}
.. note:: See the discussion on :rst:ref:`{{ domain.name }}-api-parts-trees-of-parts`.
{% endappend %}
{% append services['SpaceCenter'].classes['Part'].members['AxiallyAttached'] %}
.. note:: See the discussion on :rst:ref:`{{ domain.name }}-api-parts-attachment-modes`.
{% endappend %}
{% append services['SpaceCenter'].classes['Part'].members['RadiallyAttached'] %}
.. note:: See the discussion on :rst:ref:`{{ domain.name }}-api-parts-attachment-modes`.
{% endappend %}
{% append services['SpaceCenter'].classes['Part'].members['Stage'] %}
.. note:: See the discussion on :rst:ref:`{{ domain.name }}-api-parts-staging`.
{% endappend %}
{% append services['SpaceCenter'].classes['Part'].members['DecoupleStage'] %}
.. note:: See the discussion on :rst:ref:`{{ domain.name }}-api-parts-staging`.
{% endappend %}
{% append services['SpaceCenter'].classes['Part'].members['FuelLinesFrom'] %}
.. note:: See the discussion on :rst:ref:`{{ domain.name }}-api-parts-fuel-lines`.
{% endappend %}
{% append services['SpaceCenter'].classes['Part'].members['FuelLinesTo'] %}
.. note:: See the discussion on :rst:ref:`{{ domain.name }}-api-parts-fuel-lines`.
{% endappend %}
{% append services['SpaceCenter'].classes['Part'].members['ReferenceFrame'] %}
.. figure:: /images/reference-frames/part.png
   :align: center

   Mk1 Command Pod reference frame origin and axes
{% endappend %}
{{ macros.class(services['SpaceCenter'].classes['Part']) }}
{{ macros.class(services['SpaceCenter'].classes['Force']) }}

Module
------

{{ macros.class(services['SpaceCenter'].classes['Module']) }}

Specific Types of Part
----------------------

The following classes provide functionality for specific types of part.

.. contents::
   :local:

Antenna
^^^^^^^

{{ macros.class(services['SpaceCenter'].classes['Antenna']) }}
{{ macros.enumeration(services['SpaceCenter'].enumerations['AntennaState']) }}

Cargo Bay
^^^^^^^^^

{{ macros.class(services['SpaceCenter'].classes['CargoBay']) }}
{{ macros.enumeration(services['SpaceCenter'].enumerations['CargoBayState']) }}

Control Surface
^^^^^^^^^^^^^^^

{{ macros.class(services['SpaceCenter'].classes['ControlSurface']) }}

Decoupler
^^^^^^^^^

{{ macros.class(services['SpaceCenter'].classes['Decoupler']) }}

Docking Port
^^^^^^^^^^^^

{% append services['SpaceCenter'].classes['DockingPort'].members['ReferenceFrame'] %}
.. figure:: /images/reference-frames/docking-port.png
   :align: center

   Docking port reference frame origin and axes

.. figure:: /images/reference-frames/docking-port-inline.png
   :align: center

   Inline docking port reference frame origin and axes
{% endappend %}
{{ macros.class(services['SpaceCenter'].classes['DockingPort']) }}
{{ macros.enumeration(services['SpaceCenter'].enumerations['DockingPortState']) }}

Engine
^^^^^^

{{ macros.class(services['SpaceCenter'].classes['Engine']) }}
{{ macros.class(services['SpaceCenter'].classes['Propellant']) }}

Experiment
^^^^^^^^^^

{{ macros.class(services['SpaceCenter'].classes['Experiment']) }}
{{ macros.class(services['SpaceCenter'].classes['ScienceData']) }}
{{ macros.class(services['SpaceCenter'].classes['ScienceSubject']) }}

Fairing
^^^^^^^

{{ macros.class(services['SpaceCenter'].classes['Fairing']) }}

Intake
^^^^^^

{{ macros.class(services['SpaceCenter'].classes['Intake']) }}

Leg
^^^

{{ macros.class(services['SpaceCenter'].classes['Leg']) }}
{{ macros.enumeration(services['SpaceCenter'].enumerations['LegState']) }}

Launch Clamp
^^^^^^^^^^^^

{{ macros.class(services['SpaceCenter'].classes['LaunchClamp']) }}

Light
^^^^^

{{ macros.class(services['SpaceCenter'].classes['Light']) }}

Parachute
^^^^^^^^^

{{ macros.class(services['SpaceCenter'].classes['Parachute']) }}
{{ macros.enumeration(services['SpaceCenter'].enumerations['ParachuteState']) }}

Radiator
^^^^^^^^

{{ macros.class(services['SpaceCenter'].classes['Radiator']) }}
{{ macros.enumeration(services['SpaceCenter'].enumerations['RadiatorState']) }}

Resource Converter
^^^^^^^^^^^^^^^^^^

{{ macros.class(services['SpaceCenter'].classes['ResourceConverter']) }}
{{ macros.enumeration(services['SpaceCenter'].enumerations['ResourceConverterState']) }}

Resource Harvester
^^^^^^^^^^^^^^^^^^

{{ macros.class(services['SpaceCenter'].classes['ResourceHarvester']) }}
{{ macros.enumeration(services['SpaceCenter'].enumerations['ResourceHarvesterState']) }}

Reaction Wheel
^^^^^^^^^^^^^^

{{ macros.class(services['SpaceCenter'].classes['ReactionWheel']) }}

RCS
^^^

{{ macros.class(services['SpaceCenter'].classes['RCS']) }}

Sensor
^^^^^^

{{ macros.class(services['SpaceCenter'].classes['Sensor']) }}

Solar Panel
^^^^^^^^^^^

{{ macros.class(services['SpaceCenter'].classes['SolarPanel']) }}
{{ macros.enumeration(services['SpaceCenter'].enumerations['SolarPanelState']) }}

Thruster
^^^^^^^^

{{ macros.class(services['SpaceCenter'].classes['Thruster']) }}

Wheel
^^^^^

{{ macros.class(services['SpaceCenter'].classes['Wheel']) }}
{{ macros.enumeration(services['SpaceCenter'].enumerations['WheelState']) }}
{{ macros.enumeration(services['SpaceCenter'].enumerations['MotorState']) }}

.. _{{ domain.name }}-api-parts-trees-of-parts:

Trees of Parts
--------------

Vessels in KSP are comprised of a number of parts, connected to one another in a
*tree* structure. An example vessel is shown in Figure 1, and the corresponding
tree of parts in Figure 2. The craft file for this example can also be
:download:`downloaded here </crafts/PartsTree.craft>`.

.. figure:: /images/api/parts.png
   :align: left
   :figwidth: 275

   **Figure 1** -- Example parts making up a vessel.

.. figure:: /images/api/parts-tree.png
   :align: right
   :figwidth: 275

   **Figure 2** -- Tree of parts for the vessel in Figure 1. Arrows point from
   the parent part to the child part.

.. container:: clearer

   ..

Traversing the Tree
^^^^^^^^^^^^^^^^^^^

The tree of parts can be traversed using the attributes {{ see('M:SpaceCenter.Parts.Root') }},
{{ see('M:SpaceCenter.Part.Parent') }} and {{ see('M:SpaceCenter.Part.Children') }}.

The root of the tree is the same as the vessels *root part* (part number 1 in
the example above) and can be obtained by calling {{ see('M:SpaceCenter.Parts.Root') }}.
A parts children can be obtained by calling {{ see('M:SpaceCenter.Part.Children') }}.
If the part does not have any children, {{ see('M:SpaceCenter.Part.Children') }}
returns an empty list. A parts parent can be obtained by calling
{{ see('M:SpaceCenter.Part.Parent') }}. If the part does not have a parent
(as is the case for the root part), {{ see('M:SpaceCenter.Part.Parent') }}
returns {{ domain.code('null') }}.

The following {{ domain.prettyname }} example uses these attributes to perform a
depth-first traversal over all of the parts in a vessel:

.. literalinclude:: /scripts/TreeTraversal.{{ domain.codeext }}

When this code is execute using the craft file for the example vessel pictured
above, the following is printed out::

    Command Pod Mk1
     TR-18A Stack Decoupler
      FL-T400 Fuel Tank
       LV-909 Liquid Fuel Engine
        TR-18A Stack Decoupler
         FL-T800 Fuel Tank
          LV-909 Liquid Fuel Engine
          TT-70 Radial Decoupler
           FL-T400 Fuel Tank
            TT18-A Launch Stability Enhancer
            FTX-2 External Fuel Duct
            LV-909 Liquid Fuel Engine
            Aerodynamic Nose Cone
          TT-70 Radial Decoupler
           FL-T400 Fuel Tank
            TT18-A Launch Stability Enhancer
            FTX-2 External Fuel Duct
            LV-909 Liquid Fuel Engine
            Aerodynamic Nose Cone
       LT-1 Landing Struts
       LT-1 Landing Struts
     Mk16 Parachute

.. _{{ domain.name }}-api-parts-attachment-modes:

Attachment Modes
^^^^^^^^^^^^^^^^

Parts can be attached to other parts either *radially* (on the side of the
parent part) or *axially* (on the end of the parent part, to form a stack).

For example, in the vessel pictured above, the parachute (part 2) is *axially*
connected to its parent (the command pod -- part 1), and the landing leg
(part 5) is *radially* connected to its parent (the fuel tank -- part 4).

The root part of a vessel (for example the command pod -- part 1) does not have
a parent part, so does not have an attachment mode. However, the part is
consider to be *axially* attached to nothing.

The following {{ domain.prettyname }} example does a depth-first traversal as before,
but also prints out the attachment mode used by the part:

.. literalinclude:: /scripts/AttachmentModes.{{ domain.codeext }}

When this code is execute using the craft file for the example vessel pictured
above, the following is printed out::

 Command Pod Mk1 - axial
  TR-18A Stack Decoupler - axial
   FL-T400 Fuel Tank - axial
    LV-909 Liquid Fuel Engine - axial
     TR-18A Stack Decoupler - axial
      FL-T800 Fuel Tank - axial
       LV-909 Liquid Fuel Engine - axial
       TT-70 Radial Decoupler - radial
        FL-T400 Fuel Tank - radial
         TT18-A Launch Stability Enhancer - radial
         FTX-2 External Fuel Duct - radial
         LV-909 Liquid Fuel Engine - axial
         Aerodynamic Nose Cone - axial
       TT-70 Radial Decoupler - radial
        FL-T400 Fuel Tank - radial
         TT18-A Launch Stability Enhancer - radial
         FTX-2 External Fuel Duct - radial
         LV-909 Liquid Fuel Engine - axial
         Aerodynamic Nose Cone - axial
    LT-1 Landing Struts - radial
    LT-1 Landing Struts - radial
  Mk16 Parachute - axial

.. _{{ domain.name }}-api-parts-fuel-lines:

Fuel Lines
----------

.. figure:: /images/api/parts-fuel-lines.png
   :align: right
   :figwidth: 200

   **Figure 5** -- Fuel lines from the example in Figure 1. Fuel flows from the
   parts highlighted in green, into the part highlighted in blue.

.. figure:: /images/api/parts-fuel-lines-tree.png
   :align: right
   :figwidth: 200

   **Figure 4** -- A subset of the parts tree from Figure 2 above.

Fuel lines are considered parts, and are included in the parts tree (for
example, as pictured in Figure 4). However, the parts tree does not contain
information about which parts fuel lines connect to. The parent part of a fuel
line is the part from which it will take fuel (as shown in Figure 4) however the
part that it will send fuel to is not represented in the parts tree.

Figure 5 shows the fuel lines from the example vessel pictured earlier. Fuel
line part 15 (in red) takes fuel from a fuel tank (part 11 -- in green) and
feeds it into another fuel tank (part 9 -- in blue). The fuel line is therefore
a child of part 11, but its connection to part 9 is not represented in the tree.

The attributes {{ see('M:SpaceCenter.Part.FuelLinesFrom') }} and
{{ see('M:SpaceCenter.Part.FuelLinesTo') }} can be used to discover these
connections. In the example in Figure 5, when
{{ see('M:SpaceCenter.Part.FuelLinesTo') }} is called on fuel tank part
11, it will return a list of parts containing just fuel tank part 9 (the blue
part). When {{ see('M:SpaceCenter.Part.FuelLinesFrom') }} is called on
fuel tank part 9, it will return a list containing fuel tank parts 11 and 17
(the parts colored green).

.. _{{ domain.name }}-api-parts-staging:

Staging
-------

.. figure:: /images/api/parts-staging.png
   :align: right
   :figwidth: 340

   **Figure 6** -- Example vessel from Figure 1 with a staging sequence.

Each part has two staging numbers associated with it: the stage in which the
part is *activated* and the stage in which the part is *decoupled*. These values
can be obtained using {{ see('M:SpaceCenter.Part.Stage') }} and
{{ see('M:SpaceCenter.Part.DecoupleStage') }} respectively. For parts that
are not activated by staging, {{ see('M:SpaceCenter.Part.Stage') }} returns
-1. For parts that are never decoupled,
{{ see('M:SpaceCenter.Part.DecoupleStage') }} returns a value of -1.

Figure 6 shows an example staging sequence for a vessel. Figure 7 shows the
stages in which each part of the vessel will be *activated*. Figure 8 shows the
stages in which each part of the vessel will be *decoupled*.

.. container:: clearer

   ..

.. figure:: /images/api/parts-staging-activate.png
   :align: left
   :figwidth: 250

   **Figure 7** -- The stage in which each part is *activated*.

.. figure:: /images/api/parts-staging-decouple.png
   :align: right
   :figwidth: 250

   **Figure 8** -- The stage in which each part is *decoupled*.

.. container:: clearer

   ..
