#encoding UTF-8

.. default-domain:: #echo $domain
#echo $currentmodule('SpaceCenter')

Resources
=========

#echo $classes['SpaceCenter.Resources']()
#echo $enumerations['SpaceCenter.ResourceFlowMode']()
