.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.name }}
{{ domain.currentmodule('SpaceCenter') }}
{% import domain.macros as macros with context %}

Resources
=========

{{ macros.class(services['SpaceCenter'].classes['Resources']) }}
{{ macros.class(services['SpaceCenter'].classes['Resource']) }}
{{ macros.class(services['SpaceCenter'].classes['ResourceTransfer']) }}
{{ macros.enumeration(services['SpaceCenter'].enumerations['ResourceFlowMode']) }}
