.. default-domain:: {{ domain.sphinxname }}
{{ domain.currentmodule('SpaceCenter') }}
{% import domain.macros as macros with context %}

Resources
=========

{{ macros.class(services['SpaceCenter'].classes['Resources']) }}
{{ macros.enumeration(services['SpaceCenter'].enumerations['ResourceFlowMode']) }}
