.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.name }}
{{ domain.currentmodule('SpaceCenter') }}
{% import domain.macros as macros with context %}

Vessel
======

{% append services['SpaceCenter'].classes['Vessel'].members['Flight'] %}
.. note:: When this is called with no arguments, the vessel's surface reference
          frame is used. This reference frame moves with the vessel, therefore
          velocities and speeds returned by the flight object will be zero. See
          the :rst:ref:`reference frames tutorial <tutorial-reference-frames>` for
          examples of getting the :rst:ref:`orbital speed
          <tutorial-reference-frames-orbital-speed>` and :rst:ref:`surface speed
          <tutorial-reference-frames-surface-speed>` of a vessel.
{% endappend %}
{% append services['SpaceCenter'].classes['Vessel'].members['ResourcesInDecoupleStage'] %}
.. note:: For details on stage numbering, see the
          discussion on :rst:ref:`{{ domain.name }}-api-parts-staging`.
{% endappend %}
{% append services['SpaceCenter'].classes['Vessel'].members['ReferenceFrame'] %}
.. figure:: /images/reference-frames/vessel-aircraft.png
   :align: center

   Vessel reference frame origin and axes for the Aeris 3A aircraft

.. figure:: /images/reference-frames/vessel-rocket.png
   :align: center

   Vessel reference frame origin and axes for the Kerbal-X rocket
{% endappend %}
{% append services['SpaceCenter'].classes['Vessel'].members['OrbitalReferenceFrame'] %}
.. figure:: /images/reference-frames/vessel-orbital.png
   :align: center

   Vessel orbital reference frame origin and axes
{% endappend %}
{% append services['SpaceCenter'].classes['Vessel'].members['SurfaceReferenceFrame'] %}
.. figure:: /images/reference-frames/vessel-surface.png
   :align: center

   Vessel surface reference frame origin and axes
{% endappend %}
{% append services['SpaceCenter'].classes['Vessel'].members['SurfaceVelocityReferenceFrame'] %}
.. figure:: /images/reference-frames/vessel-surface-velocity.png
   :align: center

   Vessel surface velocity reference frame origin and axes
{% endappend %}
{{ macros.class(services['SpaceCenter'].classes['Vessel']) }}
{{ macros.enumeration(services['SpaceCenter'].enumerations['VesselType']) }}
{{ macros.enumeration(services['SpaceCenter'].enumerations['VesselSituation']) }}
