.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.highlight }}
{{ domain.currentmodule('KerbalAlarmClock') }}
{% import domain.macros as macros with context %}

AlarmAction
===========

{{ macros.enumeration(services['KerbalAlarmClock'].enumerations['AlarmAction']) }}
