.. default-domain:: {{ domain.sphinxname }}
{{ domain.currentmodule('KerbalAlarmClock') }}
{% import domain.macros as macros with context %}

Alarm
=====

{{ macros.class(services['KerbalAlarmClock'].classes['Alarm']) }}
