.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.highlight }}
{{ domain.currentmodule('KerbalAlarmClock') }}
{% import domain.macros as macros with context %}

KerbalAlarmClock
================

{{ macros.service(services['KerbalAlarmClock']) }}
