using System.Reflection;
using System.Runtime.CompilerServices;
[assembly: AssemblyTitle ("KRPC.InfernalRobotics")]
[assembly: AssemblyDescription ("InfernalRobotics service for kRPC")]
[assembly: AssemblyCopyright ("kRPC Org")]
[assembly: AssemblyVersion ("{VERSION}")]
