using System.Reflection;
using System.Runtime.CompilerServices;
[assembly: AssemblyTitle ("KRPC.KerbalAlarmClock")]
[assembly: AssemblyDescription ("Kerbal Alarm Clock service for kRPC")]
[assembly: AssemblyCopyright ("kRPC Org")]
[assembly: AssemblyVersion ("{VERSION}")]
