package = "kRPC"
version = "%VERSION%-0"
source = {
  url = "http://luarocks.org/manifests/djungelorm/krpc-%VERSION%-0.src.rock"
}
description = {
  summary = "Lua client library for kRPC",
  homepage = "https://github.com/djungelorm/krpc/wiki",
  license = "GNU LGPL v3"
}
dependencies = {
  "lua >= 5.1, < 5.3",
  "luasocket",
  "protobuf",
  "penlight"
}
build = {
  type = "builtin",
  modules = {
  }
}
