using System.Reflection;
using System.Runtime.CompilerServices;
[assembly: AssemblyTitle("KRPC")]
[assembly: AssemblyDescription("RPC server for Kerbal Space Program")]
[assembly: AssemblyCopyright("kRPC Org")]
[assembly: AssemblyVersion("{VERSION}")]
[assembly: AssemblyKSPVersion("{KSP_VERSION_MAX}", "KSP_VERSION_MIN}")]