{% macro service(x) %}{{ mark_documented(x) }}
.. type:: public class {{ x.name }}

{{ gendoc(x.documentation) | indent }}

{% for member in x.members.values() %}
{% if member.member_type == 'procedure' %}
{{ procedure(member) | indent }}
{% elif member.member_type == 'property' %}
{{ property(member) | indent }}
{% endif %}

{% endfor %}
{% endmacro %}

{% macro class(x) %}{{ mark_documented(x) }}
.. type:: public class {{ x.name }}

{{ gendoc(x.documentation) | indent }}

{% if hasdoc(x.documentation, './remarks') %}{{ remarks(x.documentation) | indent }}

{% endif %}
{% for member in x.members.values() %}
{% if member.member_type == 'class_method' %}
{{ class_method(member) | indent }}
{% elif member.member_type == 'class_static_method' %}
{{ class_static_method(member) | indent }}
{% elif member.member_type == 'class_property' %}
{{ class_property(member) | indent }}
{% endif %}

{% endfor %}
{% endmacro %}

{% macro procedure(x) %}{{ mark_documented(x) }}
.. method:: {{ domain.return_type(x.return_type) }} {{ x.name | lower_camelcase  }}({{ parameters(x.parameters) }})

{{ gendoc(x.documentation) | indent }}

{% for p in x.parameters %}
   :param {{ domain.parameter_type(p.type) }} {{ p.name }}:{% if hasdoc(p.documentation, './param[@name=\''+p.name+'\']') %} {{ gendoc(p.documentation, './param[@name=\''+p.name+'\']') | singleline }}{% endif %}

{% endfor %}
{% if hasdoc(x.documentation, './returns') %}{{ returns(x.documentation) | indent }}
{% endif %}

{% if hasdoc(x.documentation, './remarks') %}{{ remarks(x.documentation) | indent }}

{% endif %}
{% if x.appended != '' %}{{ x.appended | indent }}
{% endif %}
{% endmacro %}

{% macro property(x) %}{{ mark_documented(x) }}
{% if x.getter != None %}
.. method:: {{ domain.return_type(x.type) }} get{{ x.name }}()
{% endif %}

{% if x.setter != None %}
.. method:: void set{{ x.name }}({{ domain.parameter_type(x.type) }} value)
{% endif %}

{{ gendoc(x.documentation) | indent }}

{% if hasdoc(x.documentation, './returns') %}{{ returns(x.documentation) | indent }}
{% endif %}

{% if hasdoc(x.documentation, './remarks') %}{{ remarks(x.documentation) | indent }}

{% endif %}
{% if x.appended != '' %}{{ x.appended | indent }}
{% endif %}
{% endmacro %}

{% macro class_method(x) %}{{ mark_documented(x) }}
.. method:: {{ domain.return_type(x.return_type) }} {{ x.name | lower_camelcase }}({{ parameters(x.parameters[1:]) }})

{{ gendoc(x.documentation) | indent }}

{% for p in x.parameters[1:] %}
   :param {{ domain.parameter_type(p.type) }} {{ p.name }}:{% if hasdoc(p.documentation, './param[@name=\''+p.name+'\']') %} {{ gendoc(p.documentation, './param[@name=\''+p.name+'\']') | singleline }}{% endif %}

{% endfor %}
{% if hasdoc(x.documentation, './returns') %}{{ returns(x.documentation) | indent }}
{% endif %}

{% if hasdoc(x.documentation, './remarks') %}{{ remarks(x.documentation) | indent }}

{% endif %}
{% if x.appended != '' %}{{ x.appended | indent }}
{% endif %}
{% endmacro %}

{% macro class_static_method(x) %}{{ mark_documented(x) }}
.. method:: {{ domain.return_type(x.return_type) }} {{ x.name | lower_camelcase }}({{ parameters(x.parameters) }})

{{ gendoc(x.documentation) | indent }}

{% for p in x.parameters %}
   :param {{ domain.parameter_type(p.type) }} {{ p.name }}:{% if hasdoc(p.documentation, './param[@name=\''+p.name+'\']') %} {{ gendoc(p.documentation, './param[@name=\''+p.name+'\']') | singleline }}{% endif %}

{% endfor %}
{% if hasdoc(x.documentation, './returns') %}{{ returns(x.documentation) | indent }}
{% endif %}

{% if hasdoc(x.documentation, './remarks') %}{{ remarks(x.documentation) | indent }}

{% endif %}
{% if x.appended != '' %}{{ x.appended | indent }}
{% endif %}
{% endmacro %}

{% macro class_property(x) %}{{ mark_documented(x) }}
{{ property(x) }}
{% endmacro %}

{% macro enumeration(x) %}{{ mark_documented(x) }}
.. type:: public enum {{ x.name }}

{{ gendoc(x.documentation) | indent }}

{% if hasdoc(x.documentation, './remarks') %}{{ remarks(x.documentation) | indent }}{% endif %}
{% for value in x.values.values() %}{{ mark_documented(value) }}
   .. field:: public {{ x.name }} {{ value.name | snakecase | upper }}

{{ gendoc(value.documentation) | indent(width=6) }}

{% if hasdoc(x.documentation, './remarks') %}{{ remarks(x.documentation) | indent(width=6) }}{% endif %}
{% endfor %}
{% endmacro %}

{% macro parameters(x) %}
{% for p in x %}{{ parameter(p) }}{% if not loop.last %}, {% endif %}{% endfor %}
{% endmacro %}

{% macro parameter(x) %}{{ domain.parameter_type(x.type) }} {{ x.name }}{% endmacro %}

{% macro returns(x) %}
:returns: {{ gendoc(x, './returns') | singleline }}
{% endmacro %}

{% macro remarks(x) %}
.. note::

{{ gendoc(x, './remarks') | indent }}
{% endmacro %}
