{% macro service(x) %}{{ mark_documented(x) }}
.. type:: public class {{ x.name }}

{{ x.documentation | parsedoc | indent }}

{% for member in x.members.values() %}
{% if member.member_type == 'procedure' %}
{{ procedure(member) | indent }}
{% elif member.member_type == 'property' %}
{{ property(member) | indent }}
{% endif %}

{% endfor %}
{% endmacro %}

{% macro class(x) %}{{ mark_documented(x) }}
.. type:: public class {{ x.name }}

{{ x.documentation | parsedoc | indent }}

{% if hasdoc(x.documentation, './remarks') %}{{ remarks(x.documentation) | indent }}

{% endif %}
{% for member in x.members.values() %}
{% if member.member_type == 'class_method' %}
{{ class_method(member) | indent }}
{% elif member.member_type == 'class_static_method' %}
{{ class_static_method(member) | indent }}
{% elif member.member_type == 'class_property' %}
{{ class_property(member) | indent }}
{% endif %}

{% endfor %}
{% endmacro %}

{% macro procedure(x) %}{{ mark_documented(x) }}
.. method:: {{ x.return_type | return_type }} {{ x.name | lower_camelcase  }}({{ parameters(x.parameters) }})

{{ x.documentation | parsedoc | indent }}

{% for p in x.parameters %}
   :param {{ p.type | parameter_type }} {{ p.name }}:{% if hasdoc(p.documentation, './param[@name=\''+p.name+'\']') %} {{ p.documentation | parsedoc('./param[@name=\''+p.name+'\']') | singleline }}{% endif %}

{% endfor %}
{% if hasdoc(x.documentation, './returns') %}{{ returns(x.documentation) | indent }}
{% endif %}

{% if hasdoc(x.documentation, './remarks') %}{{ remarks(x.documentation) | indent }}

{% endif %}
{% if x.appended != '' %}{{ x.appended | indent }}
{% endif %}
{% endmacro %}

{% macro property(x) %}{{ mark_documented(x) }}
{% if x.getter != None %}
.. method:: {{ x.type | return_type }} get{{ x.name }}()
{% endif %}

{% if x.setter != None %}
.. method:: void set{{ x.name }}({{ x.type | parameter_type }} value)
{% endif %}

{{ x.documentation | parsedoc | indent }}

{% if hasdoc(x.documentation, './returns') %}{{ returns(x.documentation) | indent }}
{% endif %}

{% if hasdoc(x.documentation, './remarks') %}{{ remarks(x.documentation) | indent }}

{% endif %}
{% if x.appended != '' %}{{ x.appended | indent }}
{% endif %}
{% endmacro %}

{% macro class_method(x) %}{{ mark_documented(x) }}
.. method:: {{ x.return_type | return_type }} {{ x.name | lower_camelcase }}({{ parameters(x.parameters[1:]) }})

{{ x.documentation | parsedoc | indent }}

{% for p in x.parameters[1:] %}
   :param {{ p.type | parameter_type }} {{ p.name }}:{% if hasdoc(p.documentation, './param[@name=\''+p.name+'\']') %} {{ p.documentation | parsedoc('./param[@name=\''+p.name+'\']') | singleline }}{% endif %}

{% endfor %}
{% if hasdoc(x.documentation, './returns') %}{{ returns(x.documentation) | indent }}
{% endif %}

{% if hasdoc(x.documentation, './remarks') %}{{ remarks(x.documentation) | indent }}

{% endif %}
{% if x.appended != '' %}{{ x.appended | indent }}
{% endif %}
{% endmacro %}

{% macro class_static_method(x) %}{{ mark_documented(x) }}
.. method:: {{ x.return_type | return_type }} {{ x.name | lower_camelcase }}({{ parameters(x.parameters) }})

{{ x.documentation | parsedoc | indent }}

{% for p in x.parameters %}
   :param {{ p.type | parameter_type }} {{ p.name }}:{% if hasdoc(p.documentation, './param[@name=\''+p.name+'\']') %} {{ p.documentation | parsedoc('./param[@name=\''+p.name+'\']') | singleline }}{% endif %}

{% endfor %}
{% if hasdoc(x.documentation, './returns') %}{{ returns(x.documentation) | indent }}
{% endif %}

{% if hasdoc(x.documentation, './remarks') %}{{ remarks(x.documentation) | indent }}

{% endif %}
{% if x.appended != '' %}{{ x.appended | indent }}
{% endif %}
{% endmacro %}

{% macro class_property(x) %}{{ mark_documented(x) }}
{{ property(x) }}
{% endmacro %}

{% macro enumeration(x) %}{{ mark_documented(x) }}
.. type:: public enum {{ x.name }}

{{ x.documentation | parsedoc | indent }}

{% if hasdoc(x.documentation, './remarks') %}{{ remarks(x.documentation) | indent }}{% endif %}
{% for value in x.values.values() %}{{ mark_documented(value) }}
   .. field:: public {{ x.name }} {{ value.name | snakecase | upper }}

{{ value.documentation | parsedoc | indent(width=6) }}

{% if hasdoc(x.documentation, './remarks') %}{{ remarks(x.documentation) | indent(width=6) }}{% endif %}
{% endfor %}
{% endmacro %}

{% macro parameters(x) %}
{% for p in x %}{{ parameter(p) }}{% if not loop.last %}, {% endif %}{% endfor %}
{% endmacro %}

{% macro parameter(x) %}{{ x.type | parameter_type }} {{ x.name }}{% endmacro %}

{% macro returns(x) %}
:returns: {{ x | parsedoc('./returns') | singleline }}
{% endmacro %}

{% macro remarks(x) %}
.. note::

{{ x | parsedoc('./remarks') | indent }}
{% endmacro %}
