AC_INIT([krpc_cnano], [%VERSION%])
AC_SUBST([LT_RELEASE],[%VERSION%])
AM_INIT_AUTOMAKE
AC_CANONICAL_HOST
AC_PROG_CC
AC_LANG([C])
LT_INIT
AC_CONFIG_FILES([Makefile include/Makefile src/Makefile])
AC_OUTPUT
