.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.name }}
{{ domain.currentmodule('Drawing') }}
{% import domain.macros as macros with context %}

Drawing
=======

{{ macros.service(services['Drawing']) }}
