.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.name }}
{{ domain.currentmodule('Drawing') }}
{% import domain.macros as macros with context %}

Polygon
=======

{{ macros.class(services['Drawing'].classes['Polygon']) }}
