.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.name }}
{{ domain.currentmodule('InfernalRobotics') }}
{% import domain.macros as macros with context %}

ControlGroup
============

{{ macros.class(services['InfernalRobotics'].classes['ControlGroup']) }}
