.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.name }}
{{ domain.currentmodule('InfernalRobotics') }}
{% import domain.macros as macros with context %}

InfernalRobotics
================

{{ macros.service(services['InfernalRobotics']) }}
