.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.name }}
{{ domain.currentmodule('InfernalRobotics') }}
{% import domain.macros as macros with context %}

Servo
=====

{{ macros.class(services['InfernalRobotics'].classes['Servo']) }}
